<ul class="cbi-tabmenu">
    <% 
    local current = luci.dispatcher.context.path[4] 
    local uci = require "luci.model.uci".cursor()
    %>
    
    <li class="cbi-tab<% if not current then %> cbi-tab-disabled<% end %>">
        <a href="<%=luci.dispatcher.build_url('admin/services/webpanel')%>"><%:Overview%></a>
    </li>
    
    <% uci:foreach("webpanel", "webpanel", function(s) %>
    <li class="cbi-tab<% if current == s[".name"] then %> cbi-tab-disabled<% end %>">
        <a href="<%=luci.dispatcher.build_url('admin/services/webpanel/'..s[".name"])%>">
            <%=s.name or "Unnamed"%>
        </a>
    </li>
    <% end) %>
    
    <li class="cbi-tab<% if current == "settings" then %> cbi-tab-disabled<% end %>">
        <a href="<%=luci.dispatcher.build_url('admin/services/webpanel/settings')%>"><%:Settings%></a>
    </li>
</ul>
